body{
    background-image:url(../images/diagmonds/diagmonds.png)
    }
 .container{
     color: goldenrod;
 }
.row{
    background: transparent;
}
h1{
    text-underline-offset: green,auto;
    color: gold;
}
.container{
    font-family: 'Playfair Display', serif;
}
#barra{
    color: goldenrod;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: goldenrod;
}