body{
    background-image:url(../images/diagmonds/diagmonds.png)
    }
    .container{
        font-family: 'Playfair Display', serif;
        color:goldenrod;
        background: transparent;
    }
    #barra{
        color: goldenrod;
    }
    .footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color: goldenrod;
    }
    .card{
        background: transparent;
        
    }