body{
    background-image:url(../images/diagmonds/diagmonds.png);
   
    
    }
    
    .container{
        font-family: 'Playfair Display', serif;
        color:goldenrod;
        background: transparent;
    
        
    }
    
    footer {
        padding: 30px;
        clear: both;
        font-family: 'Playfair Display', serif;
        text-align: center;
        color: goldenrod;
    }
    .card{
        background: transparent;

    }
